$base-light: #fff;
$base-dark: #262626;
$base-gray: #505050;
$base-light-gray: #F5F7F9;
$light-gray: #F9F9F9;
$vendor-color: #52bbb5;

$link-color: $vendor-color;
$text-dark: #4e4953;
$hover-color: #7de0d9;
$border-color: #D8D8D8;

$ui-gray: #8E8F90;

$geo-type-0: #595959;
$geo-type-1: #6E9ED4;
$geo-type-2: #a80000; //Климатическое оборудование
$geo-type-3: #3c3cdb; // Интерьер и экстерьер
$geo-type-4: #bfbfbf; // Заготовительное производство
$geo-type-5: #ff0000; // Электронные и электрические компоненты
$geo-type-6: #008080; // ООО "КСК" + ООО «КСК Инжиниринг» + ООО «ТД КСК» + гостевые
$geo-type-7: #ffff00; // КСК Электротех
