$viewport-retina: 3840;
$viewport-extra: 2560;
$viewport-desktop: 1920;
$viewport-ipad: 1280;
$viewport-tablet: 1024;
$viewport-mobile: 375;
$hover-delay: 0.2s;

@import "../components/external-vendor";
@import "colors";
@import "functions";
@import 'mixins';
@import "sizes";
@import "typo";
@import 'breakpoints-blender';
@import "../../fonts/fonts";
@import "grids";
@import 'scaffolding';
